.skillCard {
  :global {
    .ant-card-body {
      padding: 0;
      color: var(--color-text-1);
      border: none;
      background-color: var(--color-bg);
    }
  }
  .desc {
    color: var(--color-text-3);
  }
}